@main("inventory") {
        <div id="page-wrapper">

            <div class="container-fluid">

                    <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Inventory</h1>
                    </div>
                </div>
                    <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Name</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Size(L)</th>
                                        <th>Type</th>
                                        <th>Units in Stock</th>
                                        <th>Percent Alcohol</th>
                                        <th>Origin</th>
                                        <th>Status</th>
                                        <th>Make Order</th>
                                    </tr>
                                </thead>
                                <tbody id="product-container">

                                    @*<tr class="warning">
                                        <td>0001</td>
                                        <td>ABCD</td>
                                        <td>1</td>
                                        <td>Conte Fini Pinot Grigio</td>
                                        <td>750ml</td>
                                        <td>$13.99</td>
                                        <td>105</td>
                                        <td>100</td>
                                        <td>No</td>
                                    </tr>
                                    <tr class="danger">
                                        <td>0002</td>
                                        <td>ABCD</td>
                                        <td>1</td>
                                        <td>Robert Mondavi</td>
                                        <td>750ml</td>
                                        <td>$19.99</td>
                                        <td>90</td>
                                        <td>100</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>0003</td>
                                        <td>ABCE</td>
                                        <td>2</td>
                                        <td>Bacardi Maestro</td>
                                        <td>750ml</td>
                                        <td>$29.99</td>
                                        <td>200</td>
                                        <td>100</td>
                                        <td>No</td>
                                    </tr>*@

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    <!-- /.row -->

            </div>
                <!-- /.container-fluid -->

        </div>
            <!-- /#page-wrapper -->
}