@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Macallan</title>

            <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.versioned("admin-temp/css/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("admin-temp/css/sb-admin.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("admin-temp/font-awesome/less/font-awesome.less")" rel="stylesheet" type="text/css">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    <body>
        <div id="wrapper">
            <!-- Nav -->
            @navbar()

            <!-- Views change here -->
            @content

        </div>
            <!-- /#wrapper -->

            <!-- jQuery -->
        <script src="@routes.Assets.versioned("admin-temp/js/jquery.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("admin-temp/js/bootstrap.min.js")"></script>

            <!-- jQuery scripts -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/navbar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/products.js")"></script>

        <!-- Navbar scripts -->
        @if(title == "dashboard"){
            <script>$('#overview-tab').attr('class', 'active')</script>
        }
        @if(title == "inventory"){
            <script>$('#view-products').attr('class', 'active')</script>
        }
        @if(title == "new-product"){
            <script>$('#new-product').attr('class', 'active')</script>
        }

        <!-- Handle New User -->
       @* <script>
                $('#new-user-form').submit(function(e) {
                    $('#messages').removeClass('hide').addClass('alert alert-success alert-dismissible').slideDown().show();
                    $('#messages_content').html('<h4>Success! New user was created.</h4>');
                    $('#modal').modal('show');
                    e.preventDefault();
                });
        </script>*@
        @*<script type="text/javascript" src="@routes.Assets.versioned("javascripts/create_user.js")"></script>*@
    </body>
</html>
