@main("new-product") {
  <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Add new product
          </h1>
        </div>
      </div>
        <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <form id="new-product-form" action="@routes.ProductController.addProduct()" method="post" role="form">

            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price($)</th>
                    <th>Size(L)</th>
                    <th>Type</th>
                    <th>Quantity(Bottles)</th>
                    <th>Percentage</th>
                    <th>Origin</th>
                    <th>Status</th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td><input name="name" type="text" class="form-control" /></td>
                    <td><input name="brand"type="text" class="form-control" /></td>
                    <td><input name="price" type="text" class="form-control" /></td>
                    <td><select name="size" type="text" class="form-control">
                      <option>200 mL</option>
                      <option>375 mL</option>
                      <option>750 mL</option>
                      <option>1.14 L</option>
                      <option>1.75 L</option>
                    </select></td>

                    <td><select name="kind" type="text" class="form-control">
                        <option>Whiskey</option>
                        <option>Rum</option>
                        <option>Tequila</option>
                        <option>Vodka</option>
                        <option>Red Wine</option>
                        <option>White Wine</option>
                      </select></td>
                    <td><select name="quantity" type="text" class="form-control">
                      <option>12</option>
                      <option>24</option>
                      <option>36</option>
                      <option>48</option>
                      <option>60</option>
                    </select></td>
                    <td><input name="percentage" type="text" class="form-control" /></td>
                    <td><input name="origin" type="text" class="form-control" /></td>
                    <td><select name="status" type="text" class="form-control">
                      <option>Available</option>
                      <option>Not Available</option>
                    </select></td>
                  </tr>

                </tbody>
              </table>
            </div>

            <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>
      </div>
        <!-- /.row -->

    </div>
      <!-- /.container-fluid -->

  </div>
    <!-- /#page-wrapper -->
}