@main("new-user") {
    <div id="page-wrapper">

      <div class="container-fluid">

          <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Create new user
            </h1>

          </div>
        </div>
          <!-- /.row -->

        <div class="row">
          <div class="col-lg-6">

            <div id="messages" class="hide" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="messages_content"></div>
            </div>

            <form id="new-user-form" action="@routes.UsersController.addUser()" method="post" role="form">
              <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label>First name</label>
                <input name="firstName" type="text" class="form-control" placeholder="Enter first name">
              </div>
              <div class="form-group">
                <label>Last name</label>
                <input name="lastName" type="text" class="form-control" placeholder="Enter last name">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input name="address" type="text" class="form-control" placeholder="Street address, City, State, Zip Code">
              </div>
              <div class="form-group">
                <label>Phone number</label>
                <input name="phoneNumber" type="text" class="form-control" placeholder="Enter phone number">
              </div>
              <div class="form-group">
                <label>User access level</label>
                <select name="role" class="form-control">
                  <option>Manager</option>
                  <option>Employee</option>
                </select>
              </div>
                @*<div class="form-group row">
                  <label class="col-sm-2 form-control-label">Address Line 2</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Apartment suite, unit, building, floor, etc">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">City</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">State/Province</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">ZIP/Postal Code</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>*@
              <button type="submit" class="btn btn-default">Create User</button>
            </form>
          </div>


        </div>
          <!-- /.container-fluid -->

      </div>
        <!-- /#page-wrapper -->

    </div>
      <!-- /#wrapper -->
}